/*======= Variables =======*/
$prmry-color:  #f9fbfc;
$scndry-color: #357035;
$hover-color: #7ea07e;

/*======= Mixins =======*/
@mixin easeOut {
    transition: all 1.6s ease-out;
}

//Media Query Mixins
@mixin mediaSm {
    @media screen and (max-width: 600px) {
        @content;
    }
}



/*======= End of Mixins =======*/