

//Smartphones
@include mediaSm {

    .form-content{
        height: auto;

        .picture{
            img{
                src: url('../dist/images/image-product-mobile.jpg');
            }
        }

        section{
            padding-left: 3rem;
            

            p{
                align-self: auto;
                justify-content: center;                
            }

            .form-input{
                flex-flow: column nowrap;
                align-items: center;
                width: 100%;
            
                input{
                    width: 80%;
                    padding: 12px 15px;
                    margin: 8px 0;
                    display: inline-block;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }
                .input{
                    display: flex;
                    flex-flow: column;
                    column-gap: 5px;
                }
    
                .form-title{
                    font-size: 20px;
                    
                }
            }
        }    

        
    }
    
}