@import 'config';
@import 'mobile';

* {
    box-sizing: border-box;
}

.form-content {
    display: grid;

    .picture {
        img {
            src: url('../dist/images/image-product-desktop.jpg');
        }
    }

    .form-input{

        input{
            border-radius: 5px;
        }

        .input{
            border-radius: 12px;
            
        }

        .form-title{
            font-size: 20px;
        }

        
    }
    .btn{
        background-color: rgb(53, 112, 53);
        border-radius: 6px;
        color: rgb(176, 195, 211);

        &:hover{
            background-color: rgb(126, 160, 126);

        }
    }
    

}